<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Compile</title>
    <script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/codeEditor.css}">
</head>
<body>
    <h1>Compile HOME</h1>
    <div id="editor-container">
            <textarea
                    id="ta_beforeCompile"
                    name="beforeCompile"
                    placeholder="설치 스크립트 입력해주시기 바랍니다."
                    spellcheck="false"
                    oninput="update_code(); resize();"
                    onkeydown="if(event.keyCode===9)
                    {
                        var v=this.value,s=this.selectionStart,e=this.selectionEnd;
                        this.value=v.substring(0, s)+'\t'+v.substring(e);
                        this.selectionStart=this.selectionEnd=s+1;
                        return false;
                    }; blockKey(this);">
class Main {
 	public static void main(String[] args) {

    }
}
            </textarea>
        <pre id="highlighting-code" class="hljs"><code></code></pre>
    </div>
    <button th:type="button" onclick="submitCompile();">제출</button>
    <div id="result">

    </div>
</body>
<script type="text/javascript">
    function submitCompile() {
        $('#ta_beforeCompile').change(function () {
            var currentVal = $(this).val();
            console.log('currentVal : ', currentVal);
            $('#ta_beforeCompile').val(currentVal);
        });

        console.log('bCompile : ', $('#ta_beforeCompile').val());
        $.ajax({
           type: 'POST',
           url: '/submit',
           dataType: 'text',
           data: {
               beforeCompile: $('#ta_beforeCompile').val()
           }
        }).done(function (result) {
            const resultJSON = JSON.parse(result);
            console.log('resultJSON : ', resultJSON);

            if(resultJSON.code === 0) {
                $('#result').append('<div id="result_child">' + resultJSON.list + '</div>');
            } else {
                alert('An Error Occurred');
            }
        }).fail(function (jqXHR) {
            console.log(jqXHR);
        });
    }

    function blockKey(item) {
        if(event.keyCode == 9){
            item.focus();
            space = " ";
            item.selection = document.selection.createRange();
            item.selection.text = space;
            event.returnValue = false;
        }
    }

    function update_code() {
        const result_elem = document.querySelector("#highlighting-code code");
        const text = document.querySelector("#ta_beforeCompile").value;
        let html = hljs.highlightAuto(text).value;
        result_elem.innerHTML =  html.replace(new RegExp("  ", "g"), "&nbsp; ");;
    }

    function resize() {
        const editor = document.querySelector('#ta_beforeCompile');
        editor.style.height = "20px";
        editor.style.height = (editor.scrollHeight + 5)+"px";

        const editor_div = document.querySelector('#editor-container');
        editor_div.style.height = (editor.scrollHeight + 5)+"px";
    }

    document.addEventListener("DOMContentLoaded", () => {
        update_code();
        resize();
    });
</script>
</html>