<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Compile</title>
</head>
<body>
    <h1>Compile HOME</h1>
    <form th:action="@{/submit}" method="post" enctype="text/plain;UTF-8">
        <textarea name="beforeCompile" id="beforeCompile" style="width: 100%;height: 350px">
            class Test {
                public static void main(String[] args) {

                }
            }
        </textarea>
        <button th:type="submit">제출</button>
    </form>
</body>
</html>