<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Compile</title>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/codeEditor.css}">
</head>
<body>
    <h1>Compile HOME</h1>
    <form th:action="@{/submit}" method="post" enctype="text/plain;UTF-8">
        <div id="editor-container">
            <textarea
                    id="s_script"
                    name="beforeCompile"
                    placeholder="설치 스크립트 입력해주시기 바랍니다."
                    spellcheck="false"
                    oninput="update_code(); resize();"
                    onkeydown="if(event.keyCode===9)
                    {
                        var v=this.value,s=this.selectionStart,e=this.selectionEnd;
                        this.value=v.substring(0, s)+'\t'+v.substring(e);
                        this.selectionStart=this.selectionEnd=s+1;
                        return false;
                    }; blockKey(this);">
class Main {
 	public static void main(String[] args) {

    }
}
            </textarea>
            <pre id="highlighting-code" class="hljs"><code></code></pre>
        </div>
        <button th:type="submit">제출</button>
    </form>
    <div>
        <table th:inline="text" border="1">
            <tr th:each="result : ${result}">
                <td><span th:text="${result}"></span> </td>
            </tr>
        </table>
    </div>
</body>
<script type="text/javascript">
    function blockKey(item) {
        if(event.keyCode == 9){
            item.focus();
            space = " ";
            item.selection = document.selection.createRange();
            item.selection.text = space;
            event.returnValue = false;
        }
    }

    function update_code() {
        const result_elem = document.querySelector("#highlighting-code code");
        const text = document.querySelector("#s_script").value;
        let html = hljs.highlightAuto(text).value;
        result_elem.innerHTML =  html.replace(new RegExp("  ", "g"), "&nbsp; ");;
    }

    function resize() {
        const editor = document.querySelector('#s_script');
        editor.style.height = "20px";
        editor.style.height = (editor.scrollHeight + 5)+"px";

        const editor_div = document.querySelector('#editor-container');
        editor_div.style.height = (editor.scrollHeight + 5)+"px";
    }

    document.addEventListener("DOMContentLoaded", () => {
        update_code();
        resize();
    });
</script>
</html>